@import "settings/navbar-settings";
@import "settings/colors";

.toolbar {
	z-index: 9;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 70px;
	width: 100%;
	padding: 12px;
	border-bottom: 1px solid $o-night-60;
	background-color: $o-beige;

	@media (min-width: $grid-float-breakpoint) {
		padding: 12px 24px;
	}
}

.toolbar-bar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px 32px;

	&.has-search-and-tools {
		justify-content: space-between;
		gap: 24px 16px;
	}

	.tools-list {
		margin: 0;
	}
}

.toolbar-logo {
	display: none;

	@media (min-width: $grid-float-breakpoint) {
		display: inline-block;
		font-size: 2.5rem;
		padding: calc(.75em - 12px) calc(.75em - 24px);
	}

	img {
		height: 1em;
		width: auto;
	}
}

.toolbar-title {
	font-size: 20px;
}
