<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^index.php$ https://%{HTTP_HOST} [L,R=301]
	RewriteRule ^listMaps.php$ https://%{HTTP_HOST}/cs/maps [L,R=301]
	RewriteRule ^files/maps/(.+?)/info_table$ https://%{HTTP_HOST}/cs/maps/$1/info_table [L,R=301]
	RewriteRule ^files/maps/(.+?).jpg$ https://%{HTTP_HOST}/data/jpg/$1.jpg [L,R=301]
</IfModule>
