$o-orange: #fe5900;
$o-orange-60: #c34900;

$o-beige: #edece3;

$o-night-90: #262626;
$o-night-80: #393939;
$o-night-70: #525252;
$o-night-60: #6f6f6f;
$o-night-40: #a8a8a8;
$o-night-30: #c6c6c6;

$o-bg: #f4f4ee;
