.input-group-addon ~ .select2 .select2-selection {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group.has-input-group-addon-after-select2 .select2-selection {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.checkbox.is-in-sm-grid-form {
	@media (min-width: 768px) {
		margin-top: 30px;
	}
}

.form-fieldset-legend {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	border-bottom: 0;
	font-size: inherit;
	font-weight: 700;
}

.form-fields-inline {
	display: flex;

	> *:not(:last-child) {
		margin-right: 8px;
	}
}
