.info-table-wrapper {
	margin-top: 8px;
}

.info-table,
table.infoTable {
	th {
		font-size: inherit;
		font-weight: bold;
		text-align: right;
		background-color: #ddd;
		color: #000;
	}
}

.info-table {
	margin-top: 0;
}
