/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 19px;
    height: 100%;
    padding: 0px;
    padding-top:7px;
}

.jspVerticalBar * {
    margin: 0;
    padding: 0;
}

.jspCap {
    display: block;
    height: 0;
    width: 19px;
}

.jspArrowUp {
    background: url('/img/bg-scroll-top.png') no-repeat;
}

.jspArrowDown {
    background: url('/img/bg-scroll-bottom.png') no-repeat left bottom;
}

.jspTrack {
    position: relative;
}

.jspDrag {
    background: #b5b6b6;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspArrow {
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    height: 13px;
}

.jspArrow.jspDisabled {
    cursor: default;
}

.jspVerticalBar .jspArrow:focus {
    outline: none;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
    margin: 0 -3px 0 0;
}
