ul#baseMapSwitch {
    background: #3d3d3d;
    border: 1px solid #b5b6b6;
    /*height: 27px;*/
    margin: 0;
    padding: 0;
    position: absolute;
    right: 321px;
    top: 121px;

    a {
        color: #fff;
        display: block;
        font-size: 13px;
        float: left;
        height: 21px;
        line-height: 17px;
        padding: 6px 9px 0 10px;
        text-decoration: none;
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
    }

    a.active {
        background: #F1F1F1;
        color: #000;
    }

    li {
        border-left: 1px solid #828383;
        float: left;
        padding: 0;
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
    }

    li:first-child {
        border-left: 0;
    }

}
