@import "settings/colors";

.contentText {
	padding: 10px;

	h1, h2 {
		color: $o-orange;
		font-size: 16px;
		font-weight: bold;
		line-height: 18px;
		padding-bottom: 0;
	}

	h2 {
		font-size: 14px;
		padding-top: 6px;
	}

	p {
		font-size: 13px;
		padding: 5px 0 8px 0;
	}
}

#advanced_search_gps_button {
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
}

// ===============================================================
// Advanced search
// ===============================================================
.toolbar-advanced-search {
	width: 100%;
	margin-top: 32px;

	strong.title {
		background: #f1f1f1;
		color: #000;
		display: block;
		font-size: 13px;
		left: 50%;
		margin: 0 0 0 -88px;
		position: absolute;
		text-align: center;
		top: -8px;
		width: 177px;
	}

	label {
		color: #3d3d3d;
		display: inline-block;
		font-size: 13px;
		line-height: 17px;
	}
}

.toolbar-advanced-search-form {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid #d1d1d1;
	padding: 20px 12px;

	dl {
		margin: 16px;
	}

	dt {
		clear: left;
		display: block;
		float: left;
		padding: 8px 11px 3px 0;
		width: 73px;
	}

	dd {
		float: left;
		padding: 0 0 3px 0;
		width: 162px;
	}

	input[type=text],
	select {
		border: 3px solid #d1d1d1;
		color: #909090;
		font-size: 13px;
		padding: 3px 5px 2px 5px;
		width: 100%;
	}

	input.date[type=text] {
		display: block;
		float: left;
		width: 70px;
	}

	input.date.from[type=text] {
		margin-right: 5px;
	}
}

.toolbar-advanced-search-submit {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateY(50%);
	max-width: 152px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 16px;
	padding-left: 16px;
	background-color: #f1f1f1;

	button {
		display: flex;
		align-items: center;
		padding: 10px 20px 10px 16px;
		border: 0;
		font-size: 16px;
		background-color: $o-orange-60;
		color: #fff;

		&::before {
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			margin-right: 10px;
			background-image: url('/img/bg-ico-search2.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
}

.toolbar-advanced-search-controls {
	display: flex;
	justify-content: center;
	margin-top: 32px;

	@media (min-width: 48em) {
		justify-content: flex-end;
		margin-top: 16px;
	}

	a {
		color: #555;

		&:not(:last-child) {
			margin-right: 32px;
		}
	}
}

// ===============================================================
// Results/Sidebar
// ===============================================================
.search-result {
	z-index: 10;
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 100%;
	border-right: 1px solid $o-night-60;
	background-color: $o-beige;

	@media (min-width: 43em) {
		overflow-y: auto;
		width: 385px;
		max-height: 85vh;
		max-height: calc(100vh - 112px); // topbar + toolbar
	}

	.content {
		width: 100%;
	}

	.content > ul {
		padding: 0;
	}

	.content > ul > li {
		width: 100%;
		padding: 0 24px 10px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #cbcccc;
		background-color: $o-bg;
	}

	.content > ul > li:hover {
		background: #fff;

		h3 a {
			color: $o-orange;
		}

		span {
			border-color: #fff;
		}

		table {
			background: inherit;
		}
	}

	.title {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 8px 16px;
		padding: 14px 0 10px;
	}

	.contentText h2 {
		float: none;
		font-size: 14px;
		font-weight: bold;
		line-height: 13px;
		padding: 2px 0 4px 0;
	}

	.contentText h3 {
		float: none;
		font-size: 12px;
		font-weight: bold;
		line-height: 13px;
		padding: 2px 0 4px 0;
	}

	.contentText p {
		float: none;
		padding: 0;
	}

	h3 {
		max-width: 170px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 18px;
		font-size: 16px;
		font-weight: bold;

		a {
			color: #291a6b;
			text-decoration: none;

			span {
				border-bottom: 1px solid #b0b1b1;
			}
		}
	}

	.tools-list {
		margin-top: 0;
	}

	table {
		border-collapse: collapse;
	}

	td {
		width: 82px;
	}
}

.search-result-header {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 0 6px 23px;
	border-bottom: 1px solid #cbcccc;
}

.search-result-header-base {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 19px;
	padding-bottom: 8px;

	h2 {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.search-result-hide {
	margin-right: 24px;
	padding: 0 0 0 13px;
	border: none;
	font-size: 13px;
	text-decoration: none;
	background: url('/img/bg-arrow.png') no-repeat 0 2px;
	color: $o-night-60;
}

.search-result-header-links {
	> *:not(:last-child) {
		margin-right: 8px;
		padding-right: 8px;
		border-right: 1px solid #7d7d7d;;
	}

	a,
	button {
		color: #7d7d7d;

		&:focus,
		&:hover {
			color: #000;
		}
	}

	button {
		appearance: none;
		padding: 0;
		border: 0;
		background: none;
	}
}

.search-result-list {
	margin-bottom: 0;
}

// ===============================================================
// Simple search
// ===============================================================
.toolbar-search {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap: 4px 0;

	@media (min-width: 28em) {
		flex-wrap: nowrap;
	}
}

.toolbar-search-input {
	box-sizing: content-box;
	max-width: 293px;
	width: 100%;
	padding: 8px 16px 8px 34px;
	border: 3px solid #d1d1d1;
	line-height: 18px;
	font-size: 16px;
	background: #fff url('/img/bg-ico-search.png') no-repeat;
	color: #a6a6a6;
	outline: none;
}

.toolbar-search-submit {
	display: block;
	margin-right: 16px;
	padding: 10px 20px;
	border: 0;
	line-height: 15px;
	font-size: 14px;
	background: $o-orange-60;
	color: #fff;

	&[disabled] {
		background: #d1d1d1;
	}
}

.toolbar-advanced-search-expand {
	display: block;
	padding: 0;
	border: 0;
	background: none;
	color: #555;

	&:focus,
	&:hover {
		color: #000;
	}
}
