.contentText {
  padding: 10px;
  h1, h2 {
    color: #D93C00;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    padding-bottom: 0;
  }
  h2 {
    font-size: 14px;
    padding-top: 6px;
  }
  p {
    font-size: 13px;
    padding: 5px 0 8px 0;
  }
}

#advanced_search_gps_button {
  position: absolute; 
  margin-top: 5px; 
  margin-left: 5px;
}

#advaSearch {
    padding: 17px 0 0 0;
    width: 100%;
    
    fieldset {
        margin: 0 auto 0 auto;
        max-width: 1225px;
    }

    .inner {
        min-width: 1000px;
        position: relative;
        width: 100%;
    }

    strong.title {
        background: #f1f1f1;
        color: #000;
        display: block;
        font-size: 13px;
        left: 50%;
        margin: 0 0 0 -88px;
        position: absolute;
        text-align: center;
        top: -8px;
        width: 177px;
    }

    .cleaned {
        border: 1px solid #d1d1d1;
        margin: 0 19px 0 23px;
        padding: 20px 0 0 0;
    }

    label {
        color: #3d3d3d;
        display: inline-block;
        font-size: 13px;
        line-height: 17px;
    }

    .cleaned input[type=text] {
        border: 3px solid #d1d1d1;
        color: #909090;
        font-size: 13px;
        padding: 3px 5px 2px 5px;
        width: 162px;
    }

    .cleaned select {
        border: 3px solid #d1d1d1;
        color: #909090;
        font-size: 13px;
        padding: 3px 5px 2px 5px;
        width: 178px;
    }

    .cleaned input.date[type=text] {
        display: block;
        float: left;
        width: 70px;
    }

    .cleaned input.date.from[type=text] {
        margin-right: 5px;
    }

    .dblCol, dl {
        float: left;
        padding: 9px 0 0 0;
        width: 289px;
    }

    .dblCol, dl {
        width: 270px;
    }

    .dblCol {
        padding: 9px 0 10px 23px;
        width: 567px;
        
        dl {
          width: 265px;
          padding-top: 0;
        }
        dl:first-child {
          width: 275px;
        }
        dt {
          width: 70px;
        }
    }


    .right {
        float: right;
        width: 590px;
        padding-right: 18px;
        padding-bottom: 10px;
    }

    dl.col.left {
        margin-right: 50px;
    }

    dt {
        clear: left;
        display: block;
        float: left;
        padding: 8px 11px 3px 0;
        width: 73px;
    }

    dd {
        float: left;
        padding: 0 0 3px 0;
        width: 182px;
    }

    p {
        margin: 0;
        padding: 13px 59px 8px 0;
        text-align: right;
        a {
            color: #888;
        }
    }


    .submitFolder {
        background: #f1f1f1;
        bottom: 19px;
        height: 39px;
        left: 50%;
        margin: 0 0 0 -75px;
        position: absolute;
        width: 152px;
        .submit {
            background: #d93c00;
            height: 35px;
            padding: 1px;
            margin: 0 18px 0 18px;
            overflow: hidden;
            .sinner {
                border: 1px solid #e57b52;
                height: 33px;
            }
        }
        div {
           background: url('/img/bg-ico-search2.png') no-repeat 15px 7px;
           color: #fff;
           display: block;
           font-family: "Trebuchet MS";
           font-size: 12px;
           padding: 9px 0 9px 40px;
           text-align: left;
           width: 121px;
           cursor: pointer;
       }
    }
}



#searchResult {
    width: 385px;
    background: #fff;
    border-right: 1px solid #b5b6b6;
    position: absolute;
    top: 103px;
    bottom: 0px;
    left: -385px;
    z-index: 1;
    .content {
      width: 100%;
    }
    .header {
        border-bottom: 1px solid #cbcccc;
        padding: 0 0 6px 23px;
        width: 100%;
        .cleaned {
          width: 100%;
        }
        span, a {
          color: #7d7d7d;
        }
        h2 {
          float: left;
        }
        span {
            margin: 0 7px 0 7px;
        }
        a.hide_search_results_button {
          background: url('/img/bg-arrow.png') no-repeat 0 2px;
          color: #b0b1b1;
          font-size: 13px;
          float: right;
          padding: 0 0 0 13px;
          margin-right: 24px;
          margin-top: 20px;
          text-decoration: none;
        }
        a:hover {
          color: #000;
        }
    }




    .content > ul {
        padding: 0;
    }

    .content > ul > li {
        background: #f1f1f1;
        border-bottom: 1px solid #cbcccc;
        border-top: 1px solid #fff;
        float: left;
        padding: 0 0 10px 24px;
        width: 100%;
    }

    .content > ul > li:hover {
      background: #fff;
      h3 a {
        color: #d93c00;
      }
      span {
        border-color: #fff;
      }
    }

    .title {
        width: 329px;
    }

    .contentText h2 {
        float: none;
        font-size: 14px;
        font-weight: bold;
        line-height: 13px;
        padding: 2px 0 4px 0;
    }
    
    .contentText h3 {
        float: none;
        font-size: 12px;
        font-weight: bold;
        line-height: 13px;
        padding: 2px 0 4px 0;
    }
    
    .contentText p {
        float: none;
        padding: 0;
    }
    
    h3 {
      float: left;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
      padding: 14px 0 10px 0;
      margin: 0px;
      max-width: 170px;
      a {
          color: #291a6b;
          text-decoration: none;
          span {
              border-bottom: 1px solid #b0b1b1;
          }
      }
    }

    .toolsList {
        margin-top: 11px;
        float: right;
    }

    table {
        border-collapse: collapse;
    }

    td {
        width: 82px;
    }

}




#formSearch {
    float: left;
    margin: 16px 0 0 0;

    .inputtext {
        background: #fff url('/img/bg-ico-search.png') no-repeat;
        border: 3px solid #d1d1d1;
        float: left;
        font-size: 16px;
        height: 25px;
        line-height: 18px;
        padding: 6px 12px 0 34px;
        margin: 0 2px 0 0;
        width: 293px;
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        input {
           color: #a6a6a6;
           outline: none;
           width: 300px;
           border:0px;
       }
    }



    .submitWrapper {
        background: #d93c00;
        border: 1px solid #d93c00;
        float: left;
        height: 35px;
        margin: 0 10px 0 0;
        .input {
            background: transparent;
            border: 1px solid #e57b52;
            color: #fff;
            cursor: pointer;
            display: block;
            float: left;
            font-family: Arial;
            font-size: 12px;
            font-weight: bold;
            line-height: 15px;
            padding: 10px 13px 8px 13px;
            text-align: left;
            text-decoration: none;
        }
    }

  .submitWrapper.disabled {
    background: #d1d1d1;
    border: 1px solid #b5b6b6;
    .input {
      border: 1px solid #f1f1f1;
      cursor: default;
    }
  }
}


.linkAdvSearch {
    color: #888;
    display: block;
    float: left;
    margin: 17px 0 0 0;
    width: 75px;
}

.linkAdvSearch:hover {
    color: #000;
}

