// ===============================================================
// BASE
// ===============================================================
.map-wrapper {
	position: relative;
	max-width: 100%;
}

// ===============================================================
// BUTTONS
// ===============================================================
.map-show-help {
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 1;
	display: block;
	padding: 8px;
	border: 1px solid #b5b6b6;
	border-radius: 0;
	background-color: #f1f1f1;

	img {
		width: 22px;
		height: 22px;
	}
}

.map-cancel-search {
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 8;
	padding: 12px 32px 10px;
	border: 1px solid #b5b6b6;
	line-height: 1;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #da2626;
	color: #fff;

	&:focus,
	&:hover {
		color: yellow;
	}
}

// ===============================================================
// POPUPS
// ===============================================================
.map-show-measure {
  top: 65px;
  left: 10%;
}

.map-show-url-link {
  top: 165px;
  left: 10%;
}

// ===============================================================
// BRANDING
// ===============================================================
.map-cuzk-copyright {
    position: absolute;
    bottom: 78px;
    left: 6px;
    z-index: 1;
    padding-top: 2px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 10px;
    background-color: rgba(255, 255, 255, .75);
}

.map-tmapy-logo {
    position: absolute;
    z-index: 1;
    bottom: 28px;
    left: 6px;
}
