<p>Ahoj <%= @resource.name %>, zdraví tě mapový portál ČSOS!</p>

<p>Svůj účet na mapovém portálu můžeš aktivovat kliknutím na tento odkaz:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
