%h1 Registrace úspěšně dokončena

%p Děkujeme za registraci na Mapový portál Českého orienťáku.

%p Během několika minut vám přijde aktivační e-mail; kliknutím na odkaz v e-mailu dokončíte registraci a budete se moci přihlásit k účtu.
