%ul#baseMapSwitch
  %li= link_to t("mapserver.basemapSHC"),       "javascript:void(0);", data: {map_type: "SHC"      }, :class => 'active'
  %li= link_to t("mapserver.basemapSatellite"), "javascript:void(0);", data: {map_type: "SATELLITE"}
  %li= link_to t("mapserver.basemapRoadmap"),   "javascript:void(0);", data: {map_type: "ROADMAP"  }
