%div#cuzkCopyright
  = link_to "&copy; ČÚZK".html_safe, "https://www.cuzk.cz", :target => "_blank"

%div#tmapyLogo
  = link_to image_tag("/img/tmapy.png"), "https://www.tmapy.cz", :target => "_blank"
