:javascript
  $(function() {
    initMap();
    initMapsLayer();
    initMapComponents();
    initLayout();
    searchSimple.searchByFilter("LOWER(patron) LIKE LOWER('%#{@club.abbreviation}%')");
  });
