:javascript
  $(function() {
    initMap();
    initMapsLayer();
    initMapComponents();
    initLayout();
    searchSimple.searchByFilter("ID IN (#{@map_collection.map_ids.map(&:to_s) * ","})");
  });
